<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.Login.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>Controller.Login.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyController</servlet-name>
        <servlet-class>Controller.Login.VerifyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSkillController</servlet-name>
        <servlet-class>Controller.Skill.ListSkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseRequiredAuthentication</servlet-name>
        <servlet-class>Controller.Login.BaseRequiredAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSkillController</servlet-name>
        <servlet-class>Controller.Skill.AddSkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSkillController</servlet-name>
        <servlet-class>Controller.Skill.UpdateSkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSkillController</servlet-name>
        <servlet-class>Controller.Skill.DeleteSkillController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>Controller.Login.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>Controller.mentee.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileController</servlet-name>
        <servlet-class>Controller.mentee.ViewProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMentor</servlet-name>
        <servlet-class>Controller.mentor.ListMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInforMentor</servlet-name>
        <servlet-class>Controller.mentor.GetInforMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCvMentor</servlet-name>
        <servlet-class>Controller.mentor.CreateCvMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSkillOfCreateMentor</servlet-name>
        <servlet-class>Controller.mentor.ListSkillOfCreateMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMentor</servlet-name>
        <servlet-class>Controller.mentor.LoadMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMentor</servlet-name>
        <servlet-class>Controller.mentor.UpdateMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSkillToHomepage</servlet-name>
        <servlet-class>Controller.Skill.ListSkillToHomepage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMentorBySkill</servlet-name>
        <servlet-class>Controller.Skill.SearchMentorBySkill</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMentorBySkillId</servlet-name>
        <servlet-class>Controller.mentor.SearchMentorBySkillId</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewScheduleController</servlet-name>
        <servlet-class>Controller.mentor.ViewScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateSchedule</servlet-name>
        <servlet-class>Controller.mentor.UpdateSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteScheduleController</servlet-name>
        <servlet-class>Controller.mentor.DeleteScheduleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMentorController</servlet-name>
        <servlet-class>Controller.mentee.ListMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListInviteForMentor</servlet-name>
        <servlet-class>Controller.mentor.ListInviteForMentor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectRequestController</servlet-name>
        <servlet-class>Controller.mentor.RejectRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptRequestOfMentor</servlet-name>
        <servlet-class>Controller.mentor.AcceptRequestOfMentor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyController</servlet-name>
        <url-pattern>/verify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseRequiredAuthentication</servlet-name>
        <url-pattern>/BaseRequiredAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSkillController</servlet-name>
        <url-pattern>/admin/listskill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSkillController</servlet-name>
        <url-pattern>/admin/addskill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSkillController</servlet-name>
        <url-pattern>/admin/updateskill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSkillController</servlet-name>
        <url-pattern>/admin/deleteskill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/mentee/menteeprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileController</servlet-name>
        <url-pattern>/mentee/viewmentee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMentor</servlet-name>
        <url-pattern>/listMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInforMentor</servlet-name>
        <url-pattern>/ViewInforOfMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCvMentor</servlet-name>
        <url-pattern>/createCv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSkillOfCreateMentor</servlet-name>
        <url-pattern>/ViewCreateCv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMentor</servlet-name>
        <url-pattern>/loadMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMentor</servlet-name>
        <url-pattern>/updateMentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSkillToHomepage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMentorBySkill</servlet-name>
        <url-pattern>/searchMentorBySkill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMentorBySkillId</servlet-name>
        <url-pattern>/searchMentorBySkillId</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewScheduleController</servlet-name>
        <url-pattern>/mentor/schedule/view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateRequestController</servlet-name>
        <servlet-class>Controller.Request.CreateRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateRequestController</servlet-name>
        <servlet-class>Controller.Request.UpdateRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenteeListRequestController</servlet-name>
        <servlet-class>Controller.Request.MenteeListRequestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateRequestController</servlet-name>
        <url-pattern>/mentee/createrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateRequestController</servlet-name>
        <url-pattern>/mentee/updaterequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenteeListRequestController</servlet-name>
        <url-pattern>/mentee/listrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateSchedule</servlet-name>
        <url-pattern>/mentor/schedule/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteScheduleController</servlet-name>
        <url-pattern>/mentor/schedule/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMentorController</servlet-name>
        <url-pattern>/listmentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListInviteForMentor</servlet-name>
        <url-pattern>/listInvite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectRequestController</servlet-name>
        <url-pattern>/deleteRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptRequestOfMentor</servlet-name>
        <url-pattern>/acceptRequest</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>homepage</welcome-file>
    </welcome-file-list>
</web-app>
